.navbar{
   display: flex;
   justify-content: end;
   background-color: whitesmoke;
   align-items: center;
    box-shadow: 0px 1px 4px  gray;
    position: fixed;
    width: 100%;
    top: 0px;
    left:0;
    z-index: 1;
    
}

.nav-wrapper{
    margin: 0;
    padding: 0;
    gap: 48px; 
    margin-top: 48px; 
    display: flex;
   justify-content: space-around;
   align-items: center;
   
}
.my-name{
    position: absolute;
    left: 17%;
    bottom: 12%;
    cursor: pointer;
}
.name:hover{
    color: plum;
}

.navContent{
    list-style-type:none;
    position: relative;
    right: 30%;
}

.nav{
text-decoration: none;
margin-top: 19.2px;
top: 10px;
}

.active{
    /* color: plum; */
}


@media(min-width: 640px){
    .navbar{
    flex-direction: row;
}

}

